<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Registrazione - AracnoTracker</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
</head>

<body>
	<div class="container text-center">

		<div <h1 style="font-size:30px;">Registrazione Utente</h1 >
		</div>

		<form th:action="@{/processo_registrazione}" method="POST" style="max-width:600px; margin: 0 auto;" th:object="${utente}">
			<div class="m-3">

				<div class="form-group row">
					<label class="col-form-label col-4">E-mail</label>
					<div class="col-8">
						<input type="email" class="form-control" th:field="*{email}" required />
					</div>
				</div>
					<div class="form-group row">
					<label class="col-form-label col-4">Password</label>
					<div class="col-8">
						<input type="password" class="form-control" th:field="*{password}" required minlenght="6" maxlenght="10"/>
					</div>
				</div>
					<div class="form-group row">
					<label class="col-form-label col-4">Nome</label>
					<div class="col-8">
						<input type="text" class="form-control" th:field="*{nome}" required minlenght="2" maxlenght="20"/>
					</div>
				</div>
					<div class="form-group row">
					<label class="col-form-label col-4">Cognome</label>
					<div class="col-8">
						<input type="text" class="form-control" th:field="*{cognome}" required minlenght="2" maxlenght="20"/>
					</div>
				</div>
				
				<div>
				<button type="submit" class="btn btn-primary">Invio</button>  
				</div>
				
			</div >
		</form>

	</div>
</body>

</html>